# testing
/coverage

# next.js
/.next/
/out/

# generated sources
/src/__generated__/*
!/src/__generated__/.gitkeep

# production
/build

# env files 
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
