html,
body,
#root {
  height: 100%;
  margin: unset;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html,
  body,
  #root {
    background-color: #222;
    color: white;
  }
}

.flex {
  display: flex;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-red-500 {
  color: #f56565;
}
