name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Code Quality
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      DO_NOT_TRACK: '1'
    steps:
      - id: checkout
        name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          lfs: true
      - uses: pnpm/action-setup@v4
      - id: setup-node
        name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - id: install
        name: Install dependencies
        run: pnpm install
      - id: checks
        name: Code Quality Checks
        run: pnpm turbo check lint test build --continue
      - id: ensure-clean
        name: Ensure there are no uncommitted changes
        run: git diff --exit-code || (echo "There are uncommitted changes!" && exit 1)
      - id: changesets
        if: ${{ github.event_name == 'push' }}
        name: Changesets
        uses: changesets/action@v1
        with:
          commit: 'chore: Update versions'
          title: 'chore: Update versions'
          publish: pnpm changeset publish
          commitMode: github-api
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish to VSCode Marketplace
        run: >
          if git tag --points-at HEAD | grep tscad-vscode; then
            pnpm --prefix=packages/vscode-extension vscode:publish
          else
            echo "No new tscad-vscode release found (tags: '$(git tag --points-at HEAD)')"
          fi
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
